## Configuração

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os 

df_vendas = pd.read_csv("/home/breno-luiz/Documents/Planilha/fato_vendas.csv")
df_familia = pd.read_csv("/home/breno-luiz/Documents/Planilha/dim_familia_produtos.csv")
df_produtos = pd.read_csv("/home/breno-luiz/Documents/Planilha/dim_produtos.csv")
df_vendedor = pd.read_csv("/home/breno-luiz/Documents/Planilha/dim_vendedor.csv")

/tmp/ipykernel_26938/1431675683.py:7: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_vendas = pd.read_csv("/home/breno-luiz/Documents/Planilha/fato_vendas.csv")

## Exibir informações gerais

In [32]:
print("--- Fato Vendas ---")
df_vendas.info()
print("\n--- Dimensão Família Produtos ---")
df_familia.info()
print("\n--- Dimensão Produtos ---")
df_produtos.info()
print("\n--- Dimensão Vendedor ---")
df_vendedor.info()

display(df_vendas.head(), df_familia.head(), df_produtos.head(), df_vendedor.head())

--- Fato Vendas ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207918 entries, 0 to 207917
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   codigo_contrato        207918 non-null  object
 1   data_venda             207918 non-null  object
 2   codigo_produto         207918 non-null  int64
 3   filial_venda           207918 non-null  int64
 4   quantidade             207918 non-null  int64
 5   valor_monetario_total  207918 non-null  float64
 6   valor_desconto         207918 non-null  float64
 7   codigo_vendedor        207918 non-null  int64
 8   codigo_cliente         207902 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 14.3+ MB

--- Dimensão Família Produtos ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   codigo_familia    75 non-null     object
 1   descricaofamilia  75 non-null     object
dtypes: object(2)
memory usage: 1.3+ KB

--- Dimensão Produtos ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4817 entries, 0 to 4816
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   codigo_produto          4817 non-null   int64
 1   descricaoproduto        4817 non-null   object
 2   codigo_familia          4817 non-null   object
 3   preco_venda_unitario    4817 non-null   float64
 4   custo_produto_unitario  4817 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 188.3+ KB

--- Dimensão Vendedor ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   codigo_vendedor  60 non-null     int64
 1   nome_vendedor    60 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.1+ KB

,codigo_contrato,data_venda,codigo_produto,filial_venda,quantidade,valor_monetario_total,valor_desconto,codigo_vendedor,codigo_cliente
0,3352053,2024-12-03 00:00:00,1930400,11,3,28.80,0.00,16556,6559.0
1,3352054,2024-12-03 00:00:00,1136700,14,1,159.90,0.00,699,825264.0
2,3352055,2024-12-03 00:00:00,1197300,17,1,35.06,-1.84,548,389963.0
3,3352056,2024-12-03 00:00:00,1472400,10,1,124.45,0.00,473,68438.0
4,3352059,2024-12-03 00:00:00,3053000,16,1,150.20,0.00,585,630186.0

  codigo_familia descricaofamilia
0           0333      Electronics
1           CSMC         Clothing
2           CSFC       Home Decor
3           ROHO             Food
4           CSFB            Tools

,codigo_produto,descricaoproduto,codigo_familia,preco_venda_unitario,custo_produto_unitario
0,245800,Luxurious Mens Watches White #742,74,64.35,26.69
1,255200,Modern Sound Equipment Maroon #490,DFM,8.05,4.30
2,255400,Elegant Sound Equipment Cyan #273,DFM,16.35,8.74
3,268600,Long-Lasting Earrings Orange #860,60,35.90,12.25
4,275800,Fun Pet Food Magenta #851,67,0.90,0.34

   codigo_vendedor    nome_vendedor
0              607  Kelli Dessecker
1              608      Nicole Pena
2              618  Michael Houston
3              357    Ricardo Brill
4              605  Charles Ramirez

## Verificar valores nulos

In [33]:
print("Fato Vendas:")
print(df_vendas.isnull().sum())
print("\nDimensão Família Produtos:")
print(df_familia.isnull().sum())
print("\nDimensão Produtos:")
print(df_produtos.isnull().sum())
print("\nDimensão Vendedor:")
print(df_vendedor.isnull().sum())

Fato Vendas:
codigo_contrato           0
data_venda                0
codigo_produto            0
filial_venda              0
quantidade                0
valor_monetario_total     0
valor_desconto            0
codigo_vendedor           0
codigo_cliente           16
dtype: int64

Dimensão Família Produtos:
codigo_familia      0
descricaofamilia    0
dtype: int64

Dimensão Produtos:
codigo_produto            0
descricaoproduto          0
codigo_familia            0
preco_venda_unitario      0
custo_produto_unitario    0
dtype: int64

Dimensão Vendedor:
codigo_vendedor    0
nome_vendedor      0
dtype: int64

## Verificar duplicatas

In [34]:
print("\nDuplicatas encontradas:")
print("Fato Vendas:", df_vendas.duplicated().sum())
print("Dimensão Família Produtos:", df_familia.duplicated().sum())
print("Dimensão Produtos:", df_produtos.duplicated().sum())
print("Dimensão Vendedor:", df_vendedor.duplicated().sum())

Duplicatas encontradas:
Fato Vendas: 8
Dimensão Família Produtos: 0
Dimensão Produtos: 0
Dimensão Vendedor: 0

## Resumo estatístico

In [35]:
display(df_vendas.describe(), df_produtos.describe())

,codigo_produto,filial_venda,quantidade,valor_monetario_total,valor_desconto,codigo_vendedor,codigo_cliente
count,2.079180e+05,207918.000000,207918.000000,207918.000000,207918.000000,207918.000000,207902.000000
mean,1.999223e+06,11.287426,5.703215,169.190723,-0.960163,1534.960898,468193.661817
std,1.001258e+06,5.059868,27.022114,452.808101,15.216023,3739.347557,333802.860326
min,4.000000e+02,1.000000,1.000000,-5680.070000,-5720.570000,225.000000,3.000000
25%,1.003800e+06,10.000000,1.000000,24.990000,0.000000,529.000000,135035.000000
50%,2.310200e+06,11.000000,1.000000,66.500000,0.000000,640.000000,419412.000000
75%,2.922703e+06,16.000000,2.000000,200.900000,0.000000,714.000000,820452.750000
max,3.208800e+06,17.000000,5000.000000,19490.000000,0.000000,16576.000000,907143.000000

       codigo_produto  preco_venda_unitario  custo_produto_unitario
count    4.817000e+03           4817.000000             4817.000000
mean     2.741788e+06            438.235775              221.441785
std      6.179472e+05           1078.572914              616.046797
min      4.000000e+02              0.100000                0.000000
25%      2.762000e+06            149.400000               72.860000
50%      3.010606e+06            319.000000              151.750000
75%      3.087405e+06            461.400000              218.190000
max      3.208800e+06          21930.000000            12467.870000

## Exportar dados limpos

In [36]:
caminho_base = "/home/breno-luiz/Documents/Planilha/"

pasta_limpos = os.path.join(caminho_base, "dados_limpos")
os.makedirs(pasta_limpos, exist_ok=True)

df_vendas.to_csv(os.path.join(pasta_limpos, "fato_vendas_limpo.csv"), index=False)
df_familia.to_csv(os.path.join(pasta_limpos, "dim_familia_produtos_limpo.csv"), index=False)
df_produtos.to_csv(os.path.join(pasta_limpos, "dim_produtos_limpo.csv"), index=False)
df_vendedor.to_csv(os.path.join(pasta_limpos, "dim_vendedor_limpo.csv"), index=False)

print(f"Datasets limpos salvos em: {pasta_limpos}")
print("Arquivos criados:", os.listdir(pasta_limpos))

Datasets limpos salvos em: /home/breno-luiz/Documents/Planilha/dados_limpos
Arquivos criados: ['fato_vendas_limpo.csv', 'dim_familia_produtos_limpo.csv', 'dim_produtos_limpo.csv', 'dim_vendedor_limpo.csv']